body {
    font-family: 'Patrick Hand', cursive;
    background: #e6e6e6;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Passion One', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

a, button {
    font-family: 'Passion One', sans-serif;
    /* font-weight: 800; */
    text-transform: uppercase;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.thin {
    padding-left: 300px!important;
    padding-right: 300px!important;
}

.anim:hover {
    box-shadow: 7px 7px #1a1a1a !important;
}

.anim:active {
    box-shadow: 5px 5px #1a1a1a !important;
}

#navbar {
    display: flex;
    padding: 25px;
    align-items: center;
}

#navbar div {
    flex: 1;
}

#navbar #links ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

#navbar #links ul li {
    text-align: center;
    margin-left: 15px;
}

#navbar #links ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background: #55b6ae;
    background-image: linear-gradient(to top, #00ffe069, transparent);
    color: #1a1a1a;
    box-shadow: 5px 5px #1a1a1a;
    border: 2px solid #1a1a1a;
}

#navbar #logo {
    font-size: 40px;
}
 
#navbar #logo h2 {
    display: block;
    margin: auto;
    text-shadow: 35px 25px #55b6ae;
}

header {
    background: linear-gradient(to bottom, #ffd68e, #3f24004f), url('Resources/Images/abstract-2068612_1280.jpg');
    background-size: cover;
}

#banner {
    display: flex;
    padding: 50px;
    border-bottom: 5px solid #1a1a1a;
}

#banner #about {flex-grow: 1;}

#banner #avatar {
    flex-grow: 1;
}

#banner #avatar img {
    width: 300px;
    float: right;
    transform: scaleX(-1);
    filter: grayscale(100%);
}

#banner #about #desc {
    font-style: italic;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    width: 70%;
    background: #dcdcdc;
    padding: 10px 19px;
    border: 4px solid #1a1a1a;
    box-shadow: 5px 5px #eaa327;
    margin-bottom: 20px;
}

button#sign-up {
    background: #eaa327;
    padding: 10px;
    font-size: 21px;
    border: 3px solid #1a1a1a;
    box-shadow: 5px 5px #1a1a1a;
    color: #1a1a1a;
    background-image: linear-gradient(to top, #ff000094, transparent);
}

#members {
    display: flex;
}

#members #card {
    flex: 1;
}

#members #card img {
    width: 300px;
    height: 300px;
    border: 7px solid #1a1a1a;
    box-shadow: 10px 10px #da929d;
}

#members #info #about {
    font-size: 20px;
}

footer {
    background: #1a1a1a;
    text-transform: uppercase;
    color: #e6e6e6;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

section#quote {
    background: #768bba;
    padding: 10px;
}

#quote p {
    text-align: center;
    color: #e6e6e6;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 0px 3px #5d72a1;
}

#about h1 {
    background: #da929d;
    display: inline-block;
    padding: 5px 15px;
    border: 4px solid #1a1a1a;
    box-shadow: 5px 5px #ffffff78;
    margin: 0;
    margin-bottom: 20px;
}