body {
    font-family: 'Patrick Hand', cursive;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Passion One', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

a, button {
    font-family: 'Passion One', sans-serif;
    /* font-weight: 800; */
    text-transform: uppercase;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.thin {
    padding-left: 300px!important;
    padding-right: 300px!important;
    /* margin-bottom: 10px; */
}

.anim:hover {
    box-shadow: 7px 7px #1a1a1a !important;
}

.anim:active {
    box-shadow: 5px 5px #1a1a1a !important;
}

#navbar {
    display: flex;
    padding: 25px;
    align-items: center;
}

#navbar div {
    flex: 1;
}

#navbar #links ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

#navbar #links ul li {
    text-align: center;
    margin-left: 15px;
}

#navbar #links ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background: #55b6ae;
    background-image: linear-gradient(to top, #00ffe069, transparent);
    color: #1a1a1a;
    box-shadow: 5px 5px #1a1a1a;
    border: 2px solid #1a1a1a;
    display: block;
}

#navbar #logo {
    font-size: 40px;
}
 
#navbar #logo h2 {
    display: block;
    margin: auto;
    text-shadow: 35px 25px #55b6ae;
}

header {
    background: linear-gradient(to bottom, #ffd68e, #3f24004f), url('Resources/Images/abstract-2068612_1280.jpg');
    background-size: cover;
}

#banner {
    display: flex;
    padding: 50px;
    border-bottom: 5px solid #1a1a1a;
}

#banner #about {flex-grow: 1;}

#banner #avatar {
    flex-grow: 1;
}

#banner #avatar img {
    width: 300px;
    float: right;
    transform: scaleX(-1);
    filter: grayscale(100%);
}

#banner #about #desc {
    font-style: italic;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    width: 70%;
    background: #dcdcdc;
    padding: 10px 19px;
    border: 4px solid #1a1a1a;
    box-shadow: 5px 5px #eaa327;
    margin-bottom: 20px;
}

button#sign-up {
    background: #eaa327;
    padding: 10px;
    font-size: 21px;
    border: 3px solid #1a1a1a;
    box-shadow: 5px 5px #1a1a1a;
    color: #1a1a1a;
    background-image: linear-gradient(to top, #ff000094, transparent);
}

#members {
    display: flex;
    gap: 10px;
}

#members #card {
    flex: 1;
    border: 5px solid #1a1a1a;
    box-shadow: 5px 5px #20867b;
    background: #eaa327;
    padding-top: 30%;
    background: linear-gradient(to bottom, transparent, transparent), url(Resources/Images/cat5.png);
    background-size: cover;
}

#members #card #info {
    border: 4px solid #1a1a1a;
    background: gainsboro;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    /* position: absolute; */
    padding: 5px 25px;
    margin: 10px;
    /* display: none; */
}

#members #card #info * {
    margin: auto;
}

footer {
    background: #1a1a1a;
    text-transform: uppercase;
    color: #e6e6e6;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

main {
    background: linear-gradient(to bottom, #1c252f, transparent), url(Resources/Images/retro-city-bg.jpg)
}

#quote {
    display: flex;
    flex-direction: column;
}

#quote p {
    border: 4px solid #1a1a1a;
    background: gainsboro;
    box-shadow: 5px 5px #171717;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    padding: 20px 25px;
    font-size: 40px;
    text-align: center;
}

#quote p .author {
    font-family: 'Passion One', sans-serif;
    font-weight: 100;
    color: #952400;
}

#quote .row1 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#quote p {
    flex: 1;
    margin: 0;
    margin-bottom: 20px;
}

#about h1 {
    background: #da929d;
    display: inline-block;
    padding: 5px 15px;
    border: 4px solid #1a1a1a;
    box-shadow: 5px 5px #ffffff78;
    margin: 0;
    margin-bottom: 20px;
}

h1#staffs {
    padding: 20px;
    font-size: 40px;
    background: linear-gradient(to bottom, #1a1a1a, transparent);
    color: #f9e4b9;
    text-shadow: 3px 3px #1a1a1a75;
    margin-bottom: 20px;
}