body {
    font-family: 'Lusiana', sans-serif;
}

#navbar {
    display: flex;
    background: white;
    border-bottom: 3px solid black;
    padding: 5px;
    align-items: center;
}

#navbar div {
    flex: 1;
}

#navbar #links ul {
    display: flex;
    list-style-type: none;
}

#navbar #links ul li {
    flex: 1;
    text-align: center;
}

#navbar #links {
    flex-grow: .3;
}

#navbar #links ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    color: black;
}

#navbar #logo {
    font-size: 40px;
}